*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 102, 255);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.login{
    height: 70vh;
    width: 30vw;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    height: 75vh;
    width: 30vw;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    height: 2.5em;
    width: 88%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

#bt_login,#bt_signup{
    height: 3.5em;
    width: 88%;
    padding: 5px;
    background-color: rgb(6, 62, 245);
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

#bt_fblogin{
    height: 3.5em;
    width: 88%;
    padding: 5px;
    background-color: rgb(56, 119, 255);
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

#bt_googlelogin{
    height: 3.5em;
    width: 88%;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

hr{
    border: 1px solid black;
    width: 88%;
}